<div class="page-title"><span>Category list</span></div>

<hr>

<% @categories.each do |category| %>
    <div class="row">
      <div class="col-md-8">
        <p><%= category.name %></p>
      </div>
      <div class="col-md-2">
        <p><%= link_to 'Edit', edit_category_path(category) %></p>
      </div>
      <div class="col-md-2">
        <p><%= link_to 'Delete', category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div>
    </div>
    <hr>
<% end %>

<%= link_to new_category_path do %>
    <button class="btn btn-default">Add new category</button>
<% end %>