<h1>
  <%= @category.name %>
</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <%= render @category.announcements %>
</table>

<%= link_to 'Add an announcement', new_announcements_path %>