<div class="page-title"><span><%= @category.name %></span></div>

<hr>

<% if @category.announcements.count == 0 %>
    <p>No announcements in this category</p>
<% else %>
    <% @category.announcements.each do |announcement| %>
        <%= render partial: 'layouts/announcement-item', locals: { announcement: announcement } %>
    <% end %>
<% end %>