<div class="page-title"><span>Most Recent Announcements</span></div>

<hr>

<% if @announcements.count == 0 %>
    <p>No recent announcements</p>
<% else %>
    <% @announcements.each do |announcement| %>
        <%= render partial: 'layouts/announcement-item', locals: { announcement: announcement } %>
    <% end %>
<% end %>