<div class="page-title"><span>Search results</span></div>

<% if @announcements.count == 0 %>
    <p>No result found for your searching criteria</p>
<% else %>
    <% @announcements.each do |announcement| %>
        <%= render partial: 'layouts/announcement-item', locals: { announcement: announcement } %>
    <% end %>
<% end %>