<% if @announcements.count == 0 %>
    <p>No result found for your searching criteria</p>
<% else %>
    <%= render partial: 'announcement-list', locals: { announcements: @announcements } %>
<% end %>