<div class="page-title"><span>My Announcements</span></div>

<hr>

<% if @announcements.count == 0 %>
    <p>You have no announcements added</p>
    <button type="button" class="btn btn-default" >
      <%= link_to 'Add new announcement', new_announcements_path %>
    </button>
<% else %>
    <button type="button" class="btn btn-default" >
      <%= link_to 'Add new announcement', new_announcements_path %>
    </button>
    <% @announcements.each do |announcement| %>
        <%= render partial: 'layouts/announcement-item', locals: { announcement: announcement } %>
    <% end %>
<% end %>