// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recommendations

  .recommendation-items
    font-weight: bold
    text-align: center

    .recommendation-price
      color: red
