<div class="input-group">
  <%= form_tag(pages_search_path, method: 'get') do %>
      <div class="input-group-btn  search-keyword">
        <%= text_field_tag :keyword, params[:keyword], class: 'form-control', placeholder: 'Search term...' %>
      </div>
      <div class="input-group-btn search-category">
        <%= select_tag :category, options_for_select(['Announcements'] + get_all_categories.map { |category| category.name }), {class: 'form-control'}%>
      </div>
      <div class="input-group-btn">
        <%= button_tag(type: 'submit', class: "btn btn-default") do %>
          <span class="glyphicon glyphicon-search"></span>
        <% end %>
      </div>
  <% end %>
</div>