<div class="side-menu">
  <nav class="navbar navbar-default" role="navigation">
    <div class="side-menu-container">
      <ul class="nav navbar-nav">
        <% get_all_categories.each do |category| %>
            <%= link_to_in_li category.name, category_path(category)%>
        <% end %>
      </ul>
    </div>
  </nav>
</div>