<div class="side-menu">
  <nav class="navbar navbar-default" role="navigation">
    <div class="side-menu-container">
      <ul class="nav navbar-nav">
        <li class="active" ><%= link_to "Link 1", '#'%></li>
        <li ><%= link_to "Link 2", '#'%></li>
        <li ><%= link_to "Link 3", '#'%></li>
        <li ><%= link_to "Link 4", '#'%></li>
      </ul>
    </div>
  </nav>
</div>